# todo everyday

## Function

- วัน เวลา
- เพิ่ม
    - ID
    - หัวข้อ
    - รายละเอียด
    - วันเวลาเพิ่ม
    - วันเวลาส่ง
    - ระดับความสำคัญ
- ค้นหา (ค้นหาจากชื่อ หัวข้อ)
- แก้ไข
- สถานะ
    - อยู่ขั้นนตอนไหน (กำลังทำ, รอทำ, ยังไม่เริ่ม, เสร็จสิ้น)
- ดูรายการ (แสดงรายการทั้งหมด, รายวัน, รายเดือน, รายปี)
- อัปเดตสถานะ (จากกำลังทำ → เสร็จสิ้น)
- ลบ (ลบรายการทั้งหมด หรือ บางอัน)